@charset "UTF-8";

h1 {
	background-color: #3ee;
	border-top: 3px solid;
	border-bottom: 8px double;		/*이중선*/
	width: 20em;
	margin: 4em auto;
	padding: 0.5em 0;
	text-align: center;
	color: #044;
}

section {border: 3px dashed #ccc;
margin: 1em;
padding: 1em;}

#sec01>div {border: 1px solid;}

.dv01 {margin: 50px;}
.dv02 {margin: 50px 10%;} /*상하 좌우*/
.dv03 {margin: 20px 5% 70px;} /* 상 좌우 하 */
.dv04 {margin: 90px 0 10px 3%;} /* 상 우 하 좌 */

#div01 {border: 4px dashed  #eee;	/* 점선 테두리 */
		width: 700px;
		color: #333;
		margin: 4em auto;
}

h2 {background-color: #3ee;
border-left: 10px solid;
border-right: 10px solid;
width: 14em;
margin-left:5em;
margin-top: 2em;
padding: 6px 8px;
text-align: center;
color: #044;}

#div01>ol {
	background-color: #ccc;
	margin: 2em 1.5em;
	margin-left: 7.5em;
	padding-top: 1em;
	padding-bottom: 1.2em;
}

#input-box01 {padding: 0.7em;}

.mg01 {margin: 2em;}
.mg02 {margin: 2em 5em;}
.mg03 {margin: 2em 5em 4em;}
.mg04 {margin: 1em 2em 3em 4em;}

.wh {background-color: #fff;
margin: 10px 50px 12px 0;
padding: 0.7em;}

/* margin의 방향별 지정 속성 */
.mt {margin-top: 80px;}
.mr {margin-right: 200px;
text-align: right;}
.mb {margin-bottom: 40px;}
.ml {margin-left: 80px;}

.pre {white-space: pre;}	/* 공백 처리 그대로 살려주기 */

.tab01, th, td {
	border: 1px solid;
}

.tab01>caption {
	padding-bottom: 0.7em;
	padding-left: 0.8em;
	text-align: left;
	font-weight: bold;
	color: #39a
}

/* 표에서 열 구분 */
tr>td:nth-of-type(1) {
	text-align: center;
	font-weight: bold;
}

tr>th:nth-of-type(2) {
	background-color: #f94; 
}

tr>th:nth-of-type(3) {
	background-color: #7ff; 
}

tr>td:nth-of-type(2) {
	background-color: #f94; 
}


tr>td:nth-of-type(3) {
	background-color: #7ff;
}



.in-a {border: 1px solid;
width: 100px;
height: 100px;
margin: 30px;}

label {border: 1px solid;
color:  #0a0;
width: 200px;
margin: 50px}

.bl-div {border: 1px solid;
width: 30px;
height: 50px;
margin: 30px;}