@charset "UTF-8";
* {margin: 0; padding: 0;}

.clear{clear: both;}

li{border: 1px solid red;
float: left;
margin-left: 2em;
padding: 1em;
width: 400px;
height: 500px;
margin-bottom: 12em}

li>b {font-size: 1.2em;
color: #363;}

.ov-v{overflow: visible;}
.ov-h{overflow: hidden;}
.ov-s{overflow: scroll;}
.ov-a{overflow: auto;}

/* 말줄임표 표시하기 */
.text-box{background-color: #000;
color: #fff;
margin: 3em 1em;
padding:  0.5em;
width: 250px;
height: 28px;}

.text-box:hover{width: 100%;
transition:2s;}

.elp{
	white-space: nowrap; /* 강제 줄바꿈 금지 */
	overflow: hidden;
	text-overflow: ellipsis;
	/* 영역 밖의 나머지 글자 처리법 - 말줄임표 표시 */
}
